.dialog-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(205, 205, 205, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.dialog {
  width: 600px;
  min-height: 100px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 1.31648236vw 3.2912059vw #dcf1eb;
  opacity: 100;
}
.dialog-title {
  font-size: 1.3em;
  margin: 1em;
}
.dialog-buttons {
  margin-left: 420px;
  margin-bottom: 5px;
}
.dialog-button {
  list-style: none;
  border-radius: 5px;
  height: 30px;
  min-width: 40px;
  margin: 5px 5px 10px 5px;
  background: white;
  border: 1px solid #ff563f;
  padding: 1px 6px;
}
#button1 {
  background: #ff563f;
  color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button:focus {
  outline: none;
}
body {
  background: linear-gradient(#fff4eb, #f3fffd);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .wrapper {
  align-items: flex-start;
  width: 21.729199578725645vw;
  height: 36.216429699842024vw;
  border-radius: 0.39494471vw;
}
body .wrapper .login {
  box-shadow: 0 1.31648236vw 3.2912059vw #dcf1eb;
  background: white;
  width: 21.729199578725645vw;
  height: 36.216429699842024vw;
}
body .wrapper .login img {
  width: 100%;
}
body .wrapper .login .content {
  padding: 1.6456029489204844vw 1.6456029489204844vw 0 1.6456029489204844vw;
}
body .wrapper .login .content h4 {
  color: #ff563f;
  font-size: 1.3164823591363874vw;
}
body .wrapper .login .content .p {
  margin: 2.303844128488678vw 0 ;
  font-size: 1.3164823591363874vw;
}
body .wrapper .login .content .button {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .wrapper .login .content .button button {
  color: #ff563f;
  padding: 0.32912058978409686vw;
  width: 15vw;
  list-style: none;
  background: white;
  border: 0.06582412vw solid #ff563f;
}
body .wrapper .login .content .button .sign {
  border-radius: 0.3949447077409162vw 0 0 0.3949447077409162vw;
}
body .wrapper .login .content .button .register {
  border-radius: 0 0.3949447077409162vw 0.3949447077409162vw 0;
  border-left: none;
}
body .wrapper .signIn {
  position: relative;
  top: -36.2164297vw;
  transform: rotateY(90deg);
  box-shadow: 0 1.31648236vw 3.2912059vw #dcf1eb;
  background: white;
  width: 21.729199578725645vw;
  height: 36.216429699842024vw;
}
body .wrapper .signIn button {
  color: #ff563f;
  background: white;
  border: none;
  font-size: 1.3164823591363874vw;
  margin: 1.6456029489204844vw 0 0 0.9873617693522907vw;
}
body .wrapper .signIn form {
  padding: 0.6582411795681937vw 1.6456029489204844vw 3.291205897840969vw 1.6456029489204844vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body .wrapper .signIn form input {
  border: none;
  border-bottom: 0.06582411795681938vw solid #ddd;
  margin: 0.6582411795681937vw 0 ;
  height: 1.9747235387045814vw;
  outline: none;
}
body .wrapper .signIn form a {
  color: #ff563f;
  align-self: flex-end;
  text-decoration-line: none;
  font-size: 0.6582411795681937vw;
  font-weight: bold;
  margin: 0.32912058978409686vw 0 1.6456029489204844vw 0;
}
body .wrapper .signIn form .submit {
  background: #ff563f;
  color: white;
  border-radius: 0.3949447077409162vw;
  height: 2.962085308056872vw;
}
body .wrapper .signIn .span {
  color: #ddd;
  font-size: 0.6582411795681937vw;
  padding: 0 1.6456029489204844vw;
  font-weight: bold;
}
body .wrapper .signIn .span .bold {
  color: gray;
  margin-right: 5.26592943654555vw;
}
body .wrapper .signIn img {
  width: 100%;
}
body .wrapper .signIn .content {
  padding: 1.6456029489204844vw 1.6456029489204844vw 0 1.6456029489204844vw;
}
body .wrapper .signIn .content h4 {
  color: #ff563f;
  font-size: 1.3164823591363874vw;
}
body .wrapper .signIn .content .p {
  margin: 2.303844128488678vw 0 ;
  font-size: 1.3164823591363874vw;
}
body .wrapper .signIn .content .button {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .wrapper .signIn .content .button button {
  color: #ff563f;
  padding: 0.32912058978409686vw;
  width: 15vw;
  list-style: none;
  background: white;
  border: 0.06582412vw solid #ff563f;
}
body .wrapper .signIn .content .button .sign {
  border-radius: 0.3949447077409162vw 0 0 0.3949447077409162vw;
}
body .wrapper .signIn .content .button .register {
  border-radius: 0 0.3949447077409162vw 0.3949447077409162vw 0;
  border-left: none;
}
body .wrapper .Register {
  position: relative;
  transform: rotateY(90deg);
  top: -72.4328594vw;
  box-shadow: 0 1.31648236vw 3.2912059vw #dcf1eb;
  background: white;
  width: 21.729199578725645vw;
  height: 36.216429699842024vw;
}
body .wrapper .Register button {
  color: #ff563f;
  background: white;
  border: none;
  font-size: 1.3164823591363874vw;
  margin: 1.6456029489204844vw 0 0 0.9873617693522907vw;
}
body .wrapper .Register form {
  padding: 0px 1.6456029489204844vw 1.6456029489204844vw 1.6456029489204844vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body .wrapper .Register form input {
  border: none;
  border-bottom: 0.06582411795681938vw solid #ddd;
  margin: 0.6582411795681937vw 0 ;
  height: 1.9747235387045814vw;
  outline: none;
}
body .wrapper .Register form a {
  color: #ff563f;
  align-self: flex-end;
  text-decoration-line: none;
  font-size: 0.6582411795681937vw;
  font-weight: bold;
  margin: 0.32912058978409686vw 0 1.6456029489204844vw 0;
}
body .wrapper .Register form .submit {
  background: #ff563f;
  color: white;
  border-radius: 0.3949447077409162vw;
  height: 2.962085308056872vw;
}
body .wrapper .Register .span {
  color: #ddd;
  font-size: 0.6582411795681937vw;
  padding: 0 1.6456029489204844vw;
  font-weight: bold;
}
body .wrapper .Register .span .bold {
  color: gray;
  margin-right: 5.26592943654555vw;
}
body .wrapper .Register img {
  width: 100%;
}
body .wrapper .Register .content {
  padding: 1.6456029489204844vw 1.6456029489204844vw 0 1.6456029489204844vw;
}
body .wrapper .Register .content h4 {
  color: #ff563f;
  font-size: 1.3164823591363874vw;
}
body .wrapper .Register .content .p {
  margin: 2.303844128488678vw 0 ;
  font-size: 1.3164823591363874vw;
}
body .wrapper .Register .content .button {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .wrapper .Register .content .button button {
  color: #ff563f;
  padding: 0.32912058978409686vw;
  width: 15vw;
  list-style: none;
  background: white;
  border: 0.06582412vw solid #ff563f;
}
body .wrapper .Register .content .button .sign {
  border-radius: 0.3949447077409162vw 0 0 0.3949447077409162vw;
}
body .wrapper .Register .content .button .register {
  border-radius: 0 0.3949447077409162vw 0.3949447077409162vw 0;
  border-left: none;
}
