*{
    box-sizing: border-box;
}
body{
    background: rgb(54, 128, 45);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0px;
}
.wrapper{
    margin-top: 3em;
    position: absolute;
    border-radius: 4px;
    padding: 8px;
    width: 460px;
    background: repeating-linear-gradient(-45deg  ,rgb(112, 52, 52), rgb(135, 18, 0) 4px,rgb(112, 52, 52),rgb(135, 18, 0)4px  )
}
.wrapper::before{
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    border: 1px solid rgb(135, 18, 0);
    border-radius: 6px;
    z-index: -1;
}
.tabs{
    background: white;
}
/*第一个ol*/
.tabs ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
.tabs ol:first-child{
    display: flex;
    border: 1px solid rgb(255, 235, 148);
    border-bottom: none;
}
.tabs ol:first-child>li{
    flex-grow: 1;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(to bottom, #ffdd70 0%,#fff3c4 100%); 
    text-shadow: 1px 1px 1px white;
    box-shadow: inset 0 0 2px hsla(0, 0%, 0%, 0,15);
}
.tabs ol:first-child>li.active{
    background: linear-gradient(to bottom,#ffeb94 0%,white 100%);
    color: #222222 ;
    box-shadow: none;
}
/*第二个ol*/
.tabs ol:nth-child(2){
    border: 1px solid white;
    border-top: none;
}
.tabs ol:nth-child(2)>li{
    min-height: 5em;
    display: none;
}
.tabs ol:nth-child(2)>li.active{
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #ffeb94;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    margin: 5em 0 ;
}