*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    
}
.Draw{
    background: #ddd;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
body span{
    border-radius: 50%;
    box-shadow:0 0 10px 10px black;
}

button{
    margin: 20px;
    list-style: none;
    border-radius: 5px;
    height:  30px;
    min-width: 40px;
    background: white;
    border: 1px solid #ddd;
    padding: 5px;
}