*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
}
button{
    outline:none;
}
.header{
    display: flex;
    color: white;
    width: 100vw;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 66.99375vw;
    text-align: center;
}
.header img{
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: -1;
}
.header:after{
    content: " ";
    box-shadow:0 0 10px 5px black;  
    width: 100vw;
}
.header h1{
    font-size: 4.6875vw;
}
.header p{
    font-size: 1.5625vw;
    margin: 0 0 4.6875vw 0;
}
.header button{
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 30px; 
    font-size: 1.5625vw;
    padding: 0.9375vw;
    margin-bottom: 6.25vw;
}
/*main*/
.main .searchbar{
    display: flex;
    align-items: center;
    flex-wrap: nowrap
}
.main .searchbar img{
    width: 2.5vw;
    height: 2.5vw;
    margin: 0.625vw 3.125vw;
}
.main .searchbar .input{
    list-style: none;
    background: transparent;
    color: white;
    border: none;
    width: 87.5vw;
    font-size: 1.5625vw
}
.hr{
    border-bottom:  0.1px solid rgb(178, 178, 178);
}
.content{
    display: flex;
    justify-content: space-around;
    margin: 1.5625vw 9.375vw 0 9.375vw;
    flex-wrap: wrap;
    position: relative;
    
}
.content div{
    margin: 0.625vw 0.625vw;
}
.one{
    background: white;
    height: 40.625vw;
    width: 25vw;
    margin-left: 6.25vw;
    display: flex;
    flex-direction: column;
}
.content img{
    width: 25vw;

}
.content h5{
    font-size: 2.1875vw;
    padding: 0.625vw 1.875vw 0px 1.875vw;
}
.content p {
    font-size: 1.875vw;
    padding: 0px 1.875vw;
    color: rgb(178, 178, 178);
}
.content .author{
    display: flex;
    align-items: center;
    color: rgb(178, 178, 178);
    padding: 0px 1.875vw;
}
.content .img{
    height: 3.125vw;
    width: 3.125vw;
    border-radius: 50%;
    margin-right: 3.125vw;
}
.content span{
    font-size: 1.875vw;
}
.two{
    width: 25vw;
    height: 25vw;
    background: white;
}
.three{
    width: 25vw;
    height: 25vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.three img{
    position: absolute;
    top: 0.625vw;
    z-index: -1;

}
.three button{
    background: transparent;
    color: white;
    border: none;
    width: 6.25vw;
    height: 6.25vw;
    font-size: 2.5vw;
    margin-top: 1.5625vw;
}
.triangle{
    width: 0;
    height: 0;
    border-top: 1.5625vw solid transparent;
    border-left: 3.125vw solid white;
    border-bottom: 1.5625vw solid transparent;
}
.four{
    background: white;
    height: 40.625vw;
    width: 25vw;
    position: absolute;
    top: 41.875vw;
    left: 0.375vw;
}
.five{
    margin-bottom: 15.625vw;
    width: 51.875vw;
    height: 40.625vw;
    background: white;
    position: absolute;
    left: 27vw;
    top: 26.25vw;
}
.five img{
    width: 51.875vw;
}
