*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 0.5em;
}
ul, ol{
  list-style: none;
}
.logo{
  display: flex;
  text-align: center;
  background: rgb(59,71,101);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo> img{
  width: 4.6875rem;
  height: 4.6875rem;
  background: #EEEFF4;
  border-radius: 50%;
  display: inline-block;
  margin-top: 1.5rem;
}
.logo > .slogan{
  margin-top: 0.875rem;
}
.logo > .slogan > li {
  display: inline-block;
  background: #EEEFF4;
  width: 4rem;
  margin-bottom: 0.75rem;
  line-height: 0.75rem;
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
  border-radius: 0.4375rem;
}


/* banner 妯″潡*/
.banner{
  background:#efefef;
  padding-top: 1.4375rem;
  padding-bottom: 1.125rem;
}
.two-lines-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h2{
  display: inline-block;
  background: rgb(216,216,216);
  border-radius: 0.4375rem;
  width: 6rem;
  margin-bottom: 0.3175rem;
  line-height:1.25rem;
  text-align: center;
}
.banner.details{
  padding-top: 0.5rem;
}
.banner .details>p{
  background:#e8e8e8;
  line-height: 0.75rem;
  margin: 0 0.25rem;
  border-radius: 0.4375rem;
  margin-top: 0.625rem;
  padding: 0.2rem
}



/* products 妯″潡*/
.products{
  background: #efefef;
}
.products > ol{
  margin-top: 1.3rem;

}

.products .product{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 1.25rem;
}
.products .product>img{
  border-radius: 0.4375rem;
  height: 12.6rem;
  width: 9rem; 
}
.products .product >h3{
  margin-top: 0.625rem;
  margin-bottom: 0.4375rem;
  font-size: 0.9375rem;
  text-align: center;
}
.products .product >p{
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.4375rem;
  margin: 0 0.25rem;
}