body{
  margin: 0;
  
}
*{
  box-sizing: border-box;
}
.wrapper{
  min-height: 100vh;
  background: rgb(34,84,0);
  display: flex;
  justify-content: center;
  align-items: center;
}
#box{
  padding: 40px;

  perspective: 1000px;
}
#banner{
  width: 600px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255,235,184);
  background: rgb(135,18,0);
  box-shadow: 0px 0px 10px hsla(0,0%,0%,0.85);
  font-size: 80px;
}